@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, html > body, body {
    @apply m-0 p-0 font-sans text-white bg-richBlack;
  }

  svg {
    @apply fill-current;
  }
}

@layer components {
  aside nav {
    h3 a { @apply flex items-center gap-5 font-bold text-sm leading-normal mb-3; }
    h3 svg { @apply text-submarine; }
    h3:has(+ h3) { @apply mb-6; }
    ul { @apply mb-6; }
    ul li { @apply mb-3; }
    ul li:last-child { @apply mb-0; }
    ul li a { @apply text-sm text-submarine pl-[45px]; }
    a.active { @apply text-java; }
    a { @apply hover:text-selectiveYellow; }
  }

  .top-nav {
    @apply flex items-center justify-end gap-7;
    button { @apply text-submarine hover:text-selectiveYellow; }
  }

  .auth-form {
    h1 { @apply font-serif text-5xl text-white font-bold tracking-tight; }
    .field { @apply mb-5 relative; }
    label { @apply text-white leading-loose; }
    input { @apply w-full bg-black text-white border-2 border-charcoal rounded-md px-4 h-12; }
    input + svg { @apply absolute right-3 top-[52px] text-[#9e9e9e]; }
    input:has(+ svg) { @apply pr-14; }
    label:has(+ input:focus) { @apply text-java; }
    input:focus { @apply border-java; }
    input:focus + svg { @apply text-java; }
    .button { @apply bg-gossamer hover:bg-java text-white flex items-center justify-center font-bold h-12 rounded-md w-full; }
  }
}

@layer utilities {
  .admin-layout {
    @apply grid grid-cols-[286px_1fr];
  }

  .center {
    @apply flex items-center justify-center;
  }

  .main-padding {
    @apply pl-mainLeft pr-mainRight pt-mainTop;
  }
}
